<div class="card-panel  light-blue lighten-5">
  <div class="container center">
    <img class="responsive-image center" src="../../../assets/img/logo.png" width="350" height="350">
  </div>
  <div>
    <h3 class="center"id="helloText">JUEGO DE OPUESTOS</h3>
    <h5 class="center"id="helloText">INGRESAR NUEVO USUARIO</h5>
    <form #usuarioform = "ngForm" (ngSubmit) ='addUsuario(usuarioform)'>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s3">
            <input id="username" name="username" #name="ngModel" [(ngModel)]="usuarioService.selectedUsuario.username" type="text" class="validate">
            <label for="username">Usuario</label>
          </div>
          <div class="input-field col s3">
            <input id="email" name="email" #name="ngModel" [(ngModel)]="usuarioService.selectedUsuario.email" type="text" class="validate">
            <label for="email">E-Mail</label>
          </div>
          <div class="input-field col s3">
            <input id="password" name="password" #name="ngModel" [(ngModel)]="usuarioService.selectedUsuario.password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
          <div class="input-field col s3">
            <input id="repassword" type="password" class="validate">
            <label for="repassword">Repetir Contraseña</label>
          </div>
        </div>
      </div>
      <button id="boton" type="submit" class="waves-effect waves-light btn">GUARDAR</button>
    </div>
  </form>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

</div>