<div id="container" (keydown) = "keyeventex($event)">
  <div class="row"></div>
  <div class="row">
  <div id="0" class="izquierdo" (click)= "seleccionarIm0()" tabindex="1" (keydown) = "keyevent0($event)">
     <img [src]="imageSrc || '../../../assets/img/preview.png'" width="400" height="400" style="display: block; margin-left: auto; margin-right: auto;">
     <h3 style="text-align: center; font-family: TW CEN MT; text-transform: lowercase" id="op0">Texto asociado 1</h3>
  </div>
  <button id="boton" (click)="funcionMostrar()"></button>
  <div id="derecho" class="derecho">
     <div id="1" class="dizquierdo" (click)= "seleccionarIm1()" tabindex="2" (keydown) = "keyevent1($event)">
        <img [src]="imageSrc1 || '../../../assets/img/preview.png'" width="325" height="325" style="text-align: center">
        <h4 style="text-align: center; font-family: TW CEN MT; text-transform: lowercase" id="op1">Texto asociado 2</h4>
     </div>
     <div style="display: inline-block;position: relative;">
        <canvas width="10" height="325"></canvas>
       </div>
     <div id="2" class="dderecho" (click)= "seleccionarIm2()" tabindex="3" (keydown) = "keyevent2($event)"> 
        <img [src]="imageSrc2 || '../../../assets/img/preview.png'" width="325" height="325" style="text-align: center">
        <h4 style="text-align: center; font-family: TW CEN MT; text-transform: lowercase" id="op2">Texto asociado 3</h4>
     </div>
  </div>
</div>
<div class="row">
  <button id="btn" class="waves-effect waves-light btn" style="float: right;" (click)="continuar()" tabindex="4">Continuar</button>
</div>
</div>
<div id="correcto" style="text-align: center">
  <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Correcto!</h2>  
</div>
<div id="mal" style="text-align: center">
  <img id="last1" src= "../../../assets/img/mal.png" height="300" width="300">
  <h2>Sigue intentandolo</h2>  
</div>
<div id="last" style="text-align: center">
  <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Felicidades</h2>
</div>
