#container {height: 100%; width:100%; font-size: 0;}
.izquierdo, .derecho{display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
.izquierdo {width: 50%; height:100%; }
.derecho { display:none; width: 50%; height:100%; }
.dizquierdo{display: inline-block;position: relative;}
.dderecho{display: inline-block;position: relative;}
#boton {background: white;  width: 500px; height:500px; border:none;}

#last, #correcto, #mal {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}


