<div id="container" class="card-panel" style="text-align: center">
  <div class="row">
    <div class="col s5" style="text-align: center">
        <img id="im1" [src]= "imageSrc || '../../../assets/img/logoInsfidim.png'" height="300" width="300">
    </div>
    <div class="col s2"></div>
    <div class="col s5" style="text-align: center">
        <img id="im2" [src]= "imageSrc1 || '../../../assets/img/logoInsfidim.png'" height="300" width="300">
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div id="op1" class="col s5" (dragover)="evdragover($event)" (drop)="evdrop($event)" style="height: 90px; color: white; font-size: 50px; border: lightgray 3px solid; font-family: TW CEN MT" tabindex="1" (keydown) = "keyeventop1($event)">
      opuesto1
      <!--<h2 id="op1" style="text-transform: lowercase" style="display: none">opuesto1</h2>-->
    </div>
    <div class="col s2"></div>
    <div id="op2" class="col s5" (dragover)="evdragover($event)" (drop)="evdrop($event)" style="height: 90px; color: white; font-size: 50px; border: lightgray 3px solid; font-family: TW CEN MT" tabindex="2" (keydown) = "keyeventop2($event)">
      <!--<h2 id="op2" style="text-transform: lowercase" style="display: none">opuesto2</h2>-->
    </div>
  </div>
  <div class="flex-container" >
    <div draggable="true" (dragstart)="evdragstart($event)" id="1" tabindex="3" (keydown) = "keyevent1($event)">texto asociado 1</div>
    <div draggable="true" (dragstart)="evdragstart($event)" id="2" tabindex="4" (keydown) = "keyevent2($event)">texto asociado 2</div>
    <div draggable="true" (dragstart)="evdragstart($event)" id="3" tabindex="5" (keydown) = "keyevent3($event)">texto asociado 3</div>
    <div draggable="true" (dragstart)="evdragstart($event)" id="4" tabindex="6" (keydown) = "keyevent4($event)">texto asociado 4</div>
    <div draggable="true" (dragstart)="evdragstart($event)" id="5" tabindex="7" (keydown) = "keyevent5($event)">texto asociado 5</div>
 </div>

  <div class="row">
    <button id="btn" class="waves-effect waves-light btn" style="float: right;" (click)="continuar()" tabindex="8">Continuar</button>
  </div>
  </div>
  <div id="correcto" style="text-align: center">
    <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
    <h2>Correcto!</h2>  
  </div>
  <div id="mal" style="text-align: center">
    <img id="last1" src= "../../../assets/img/mal.png" height="300" width="300">
    <h2>Sigue intentandolo</h2>  
  </div>
  <div id="last" style="text-align: center">
    <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
    <h2>Felicidades</h2>
  </div>

