<div class="card-panel light-blue lighten-5" style="display: block; height: 100%; width: 100%">
  <div>
    <h3 class="center">JUEGO DE OPUESTOS</h3>
    <h5 class="center">ADMINISTRAR IMÁGENES</h5>
    <br>
  </div>
  <div>

  </div>
  <div id="botones" style="text-align: cennter">
    <a class="waves-effect waves-light btn-large" (click)="enableAgreagar()"><i class="material-icons left">add</i>agregar</a>
    <a class="waves-effect waves-light btn-large" (click)="enableEditar()"><i class="material-icons left" >edit</i>editar</a>
    <a class="waves-effect waves-light btn-large" (click)="enableBorrar()"><i class="material-icons left">delete</i>Eliminar</a>
  </div>

  <div class="row"></div>
  
  <div id="msjagregar" class="row" style="text-align: center; border: 1px solid">
      <h5>Seleccione de su PC las imágenes que desee cargar para sus opuestos</h5>
      <h5>Escriba el nombre de cada Imagen y presione el botón Cargar Opuestos</h5>
  </div>
  
  <div id="msjeditar" class="row" style="text-align: center; border: 1px solid">
      <h5>Seleccione de de la lista de opuestos guardados el que desee editar</h5>
      <h5>Si deseea cambie uno o las dos imágenes con sus nombres y presione el botón Editar Opuestos</h5>
  </div>
  
  <div id="msjborrar" class="row" style="text-align: center; border: 1px solid">
      <h5>Seleccione de de la lista de opuestos guardados el que desee eliminar</h5>
      <h5>Presione el botón Borrar Opuestos</h5>
  </div>


  <div class="row">
    <div class="row">
      <div class="row">
        <div class="row">
          <div class="row">
            <div class="row">
              <div id="loader" class="preloader-wrapper big active" style="text-align: center">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="row" id="form" #opuestoform = "ngForm" (ngSubmit) ='addOpuesto(opuestoform)'>
    <div class="row">
      <div class="col s6">
          <img id="im1" [src]= "imageSrc || '../../../assets/img/logoInsfidim.png'" height="300" width="300">
      </div>
      <div class="col s6">
          <img id="im2" [src]="imageSrc1 || '../../../assets/img/preview.jpg'" height="300" width="300">
      </div>
    </div>
    <div class="row">
      <div class="col s6 file-field input-field">
        
        <div id="div1" class="btn">
          <span id="span1"><i class="material-icons left">image</i>Escoger</span>
          <input id="opuesto1" type="file" (change)="readUrl($event);" ng2FileSelect [uploader]="uploader" accept="image/*" (click)="disableop1()">
        </div>
        <div class="file-path-wrapper">
          <input id="wrapper1" class="file-path validate" type="text">
        </div>
      </div>
      

      <div class="col s6 file-field input-field">
          
        <div id="div2" class="btn">
          <span id="span2"><i class="material-icons left">image</i>Escoger</span>
          <input id="opuesto2" type="file" (change)="readUrl1($event);" ng2FileSelect [uploader]="uploader" accept="image/*" (click)="disableop2()">
        </div>
        <div class="file-path-wrapper">
          <input id="wrapper2" class="file-path validate" type="text">
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col s6">
            <input type="text" id="opuesto_im1" name="opuesto_im1" [(ngModel)]="opuestoService.selectedOpuesto.opuesto_im1" placeholder="Nombre" style="text-transform:lowercase">
          </div>
          <div class="col s6">
              <input type="text" id="opuesto_im2" name="opuesto_im2" [(ngModel)]="opuestoService.selectedOpuesto.opuesto_im2" placeholder="Opuesto" style="text-transform:lowercase">
            </div>
            <input type="hidden" id="idUsuario" name="idUsuario">
            <input type="hidden" id="idOpuesto" name="idOpuesto">
      </div>

      <div class="row">
        <div class="col s5" style="border:1px solid">
          <table>
            <thead>
              <th style="text-align:center">Opuestos:</th>
            </thead>
            <tbody>
              <tr *ngFor="let opuesto of usuarioService.opuestos">
                <td style="text-align:center">{{opuesto.opuesto_im1}} - {{opuesto.opuesto_im2}}</td>
                <td>
                  <a (click)="selectOpuesto(opuesto)" class="tooltip">
                    <i class="material-icons tooltiped" data-position="top" data-tooltip="Visualizar Opuestos">remove_red_eye</i>
                    <span class="tooltiptext">Visualizar Opuesto</span> 
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col s5">
          <button id="btn1" type="button" class="btn btn-success btn-s" 
          (click)="upload(opuestoform)" 
          style="float: right">
              Cargar Opuestos
          </button>
        </div>
        <div class="col s5">
          <button id="btn2" type="button" class="btn btn-success btn-s" 
          (click)="deleteOpuesto()" 
          style="float: right">
              Borrar Opuestos
          </button>
        </div>
        <div class="col s5">
          <button id="btn3" type="button" class="btn btn-success btn-s" 
          (click)="editOpuesto()" 
          style="float: right">
              Editar Opuestos
          </button>
        </div>
      </div>     

  </form>

</div>