<div class="card-panel light-blue lighten-5" style="display: block; height: 100%; width: 100%">
  <a class="waves-effect waves-light btn-small right" onclick="location.href='/login' " routerLinkActive="active"><i class="material-icons" >build</i></a>
    
  <div class="container center">
    <img class="responsive-img center" src='../../../assets/img/logo.png'  width= "350" height="350">
  </div>
  <div>
  <h1 class="center" id="helloText">JUEGO DE OPUESTOS</h1>
  <h3 class="center" id="helloText">ELIJA EL NIVEL</h3>
  <br>
  </div>
  <div class="row container center">
    <div class="col s4">
        <button class="waves-effect waves-light btn-large" id="N1" onclick="location.href='/confign1' ">Aprendizaje</button>
    </div>
    <div class="col s4">
        <button class="waves-effect waves-light btn-large" id="N2" onclick="location.href='/confign2' ">Opción Multiple</button>
    </div>
    <div class="col s4">
        <button class="waves-effect waves-light btn-large" id="N3" onclick="location.href='/confign3' ">Coincide correcto</button>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>
