<div class="card-panel light-blue lighten-5">
    <div>
        <h3 class="center">JUEGO DE OPUESTOS</h3>
        <h5 class="center">CONFIGURAR NIVEL 1</h5>
        <br>
    </div>
    <div class="row" style="text-align: center; border: 1px solid">
      <h4>Nivel 1: Aprendizaje de Opuestos</h4>
      <h5>Permite al jugador idetificar, reconocer y comparar elementos</h5>
      <h5>INSTRUCCIONES: Al hacer click en la imagen o la palabra esta se escucha</h5>
    </div>

    <form #usuarioform = "ngForm">
    <div class="row">
        <select id="elegirUsuario" class="browser-default" (change)="selectValue()">
          <option value="-1">Elegir Usuario</option>
          <option *ngFor="let usuario of usuarioService.usuarios" [value]="usuario._id">{{usuario.username}}</option>
        </select>
    </div>
    <input type="hidden" id="idUsuario">
    </form>

    <!--<div class="row" style="text-align: center">
      <div class="col s2" style="border:1px solid; text-align: center">
        <input type="hidden" id="idUsuario">
        <table class="center">
          <thead>
            <th style="text-align:center">Usuarios:</th>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarioService.usuarios">
              <td style="text-align:center">{{usuario.username}}</td>
              <td>
                <a (click)="selectUsuario(usuario)">
                  <i class="material-icons">check</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>-->

    <div class="row">
      <div class="col s6" style="text-align: center">
          <img id="im1" [src]= "imageSrc || '../../../assets/img/preview.jpg'" height="300" width="300">
      </div>
      <div class="col s6" style="text-align: center">
          <img id="im2" [src]= "imageSrc1 || '../../../assets/img/preview.jpg'" height="300" width="300">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <input type="text" id="opuesto_im1" disabled style="text-align: center">
      </div>
      <div class="col s6">
        <input type="text" id="opuesto_im2" disabled style="text-align: center">
      </div>
    </div>

    <div class="row">
        <div class="col s5" style="border:1px solid">
          <table>
            <thead>
              <th style="text-align:center">Opuestos:</th>
            </thead>
            <tbody>
              <tr *ngFor="let opuesto of usuarioService.opuestos">
                <td style="text-align:center">{{opuesto.opuesto_im1}} - {{opuesto.opuesto_im2}}</td>
                <td>
                  <a (click)="selectOpuesto(opuesto)" class="tooltip">
                    <i class="material-icons">remove_red_eye</i>
                    <span class="tooltiptext">Visualizar Opuesto</span> 
                  </a>
                </td>
                <td>
                  <a (click)="pushOpuesto(opuesto)" class="tooltip">
                    <i class="material-icons">arrow_forward</i>
                    <span class="tooltiptext">Seleccionar Opuesto para el nivel</span> 
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col s1">

        </div>

        <div class="col s5" style="border:1px solid">
            <table>
              <thead>
                <th style="text-align:center">Opuestos Seleccionados nivel:</th>
              </thead>
              <tbody>
                <tr *ngFor="let opuesto of opuestosJuego">
                  <td style="text-align:center">{{opuesto.opuesto_im1}} - {{opuesto.opuesto_im2}}</td>
                  <td>
                    <a (click)="spliceOpuesto(opuesto)" class="tooltip">
                      <i class="material-icons">cancel</i>
                      <span class="tooltiptext">Eliminar Opuesto del nivel</span> 
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

      <div class="row">
        <button id="boton" class="waves-effect waves-light btn" style="float: right;" (click)="startnivel()">Comenzar</button>
      </div>
</div>