<div class="card-panel light-blue lighten-5">
  <div>
      <h3 class="center">JUEGO DE OPUESTOS</h3>
      <h5 class="center">CONFIGURAR NIVEL 3</h5>
      <br>
  </div>
  <div class="row" style="text-align: center; border: 1px solid">
    <h4>Nivel 3: Coincide con el correcto</h4>
    <h5>Asociar Palabra Imágen</h5>
    <h5>INSTRUCCIONES: Arrastra la palabra con su imágen correspondiente</h5>
  </div>

  <form #usuarioform = "ngForm">
  <div class="row">
      <select id="elegirUsuario" class="browser-default" (change)="selectValue()">
        <option value="-1">Elegir Usuario</option>
        <option *ngFor="let usuario of usuarioService.usuarios" [value]="usuario._id">{{usuario.username}}</option>
      </select>
  </div>
  <input type="hidden" id="idUsuario">
  </form>

  <!--<div class="row" style="text-align: center">
    <div class="col s2" style="border:1px solid; text-align: center">
      <input type="hidden" id="idUsuario">
      <table class="center">
        <thead>
          <th style="text-align:center">Usuarios:</th>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarioService.usuarios">
            <td style="text-align:center">{{usuario.username}}</td>
            <td>
              <a (click)="selectUsuario(usuario)">
                <i class="material-icons">check</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>-->

  <div class="row">
    <div class="col s6" style="text-align: center">
        <img id="im1" [src]= "imageSrc || '../../../assets/img/logoInsfidim.png'" height="300" width="300">
    </div>
    <div class="col s6" style="text-align: center">
        <img id="im2" [src]= "imageSrc1 || '../../../assets/img/logoInsfidim.png'" height="300" width="300">
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <input type="text" id="opuesto_im1" disabled style="text-align: center">
    </div>
    <div class="col s6">
      <input type="text" id="opuesto_im2" disabled style="text-align: center">
    </div>
  </div>

  <div class="row">
      <div class="col s5" style="border:1px solid">
        <table>
          <thead>
            <th style="text-align:center">Opuestos:</th>
          </thead>
          <tbody>
            <tr *ngFor="let opuesto of usuarioService.opuestos">
              <td style="text-align:center">{{opuesto.opuesto_im1}} - {{opuesto.opuesto_im2}}</td>
              <td>
                <a (click)="selectOpuesto(opuesto)" class="tooltip">
                  <i class="material-icons">remove_red_eye</i>
                  <span class="tooltiptext">Visualizar Opuesto</span> 
                </a>
              </td>
              <td>
                <a (click)="pushOpuesto(opuesto)" class="tooltip">
                  <i class="material-icons">arrow_forward</i>
                  <span class="tooltiptext">Seleccionar Opuesto en el nivel</span> 
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col s1">

      </div>

      <div class="col s5" style="border:1px solid">
          <table>
            <thead>
              <th style="text-align:center">Opuestos Seleccionados nivel:</th>
            </thead>
            <tbody>
              <tr *ngFor="let opuesto of opuestosJuego">
                <td style="text-align:center">{{opuesto.opuesto_im1}} - {{opuesto.opuesto_im2}}</td>
                <td>
                  <a (click)="spliceOpuesto(opuesto)" class="tooltip">
                    <i class="material-icons">cancel</i>
                    <span class="tooltiptext">Elimimar Opuesto del nivel</span> 
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="row">
      <div class="col s5">
          <select id="numDistractores" class="browser-default" style="text-align: center">
            <option value="0">Número de Distractores</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
      </div>
      <div class="col s5">
          <button id="boton" class="waves-effect waves-light btn" style="float: right;" (click)="startnivel()">Comenzar</button>
      </div>
    </div>
</div>