<div id="card" class="card-panel">
  <div class="row">
    <div class="col s6" style="text-align: center">
        <img id="im1" [src]= "imageSrc || '../../../assets/img/preview.png'" height="300" width="300" (click)="escucharImagen1()" tabindex="1" (keydown) = "keyevent1($event)">
    </div>
    <div class="col s6" style="text-align: center">
        <img id="im2" [src]= "imageSrc1 || '../../../assets/img/preview.png'" height="300" width="300" (click)="escucharImagen2()" tabindex="3" (keydown) = "keyevent2($event)">
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col s6">
      <h2 id="op1" style="text-transform: lowercase; font-family: TW CEN MT" (click)="escucharImagen1()" tabindex="2" (keydown) = "keyevent1($event)">opuesto1</h2>
    </div>
    <div class="col s6">
      <h2 id="op2" style="text-transform: lowercase; font-family: TW CEN MT" (click)="escucharImagen2()" tabindex="4" (keydown) = "keyevent2($event)">opuesto2</h2>
    </div>
  </div>
  <div class="row">
    <button id="btn" class="waves-effect waves-light btn" style="float: right;" (click)="continuar()" tabindex="5">Continuar</button>
  </div>
  </div>
  <div id="last" style="text-align: center">
    <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
    <h2>Felicidades</h2>
  </div>