<div  class="card-panel  light-blue lighten-5">
  <div class="container center">
    <img class="responsive-img center" src="../../../assets/img/logo.png" width= "350" height="350">
  </div>
  <div>
  <h1 class="center"id="helloText">JUEGO DE OPUESTOS</h1>
  <h3 class="center"id="helloText">LOGIN</h3>
  <div class = "input-field col s6">
    <button class="waves-effect waves-light btn" style="float: right" onclick="location.href='/registrar' ">
      <i class="material-icons">person_add</i>
      Registrar
    </button>
  </div>
  <br>
  <br>
  <form #loginForm = "ngForm" class="container" width="150" height="150" (submit) = 'loginUsuario(loginForm)'>
     <div class="col s12">
        <div class="row">
           <div class="input-field col s6">
              <input id="username" name="username" type="text" class="validate">
              <label for="username">Usuario</label>
           </div>
           <div class="input-field col s6">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Contraseña</label>
              <button id="boton" type="submit" class="waves-effect waves-light btn">Entrar</button>
           </div>
        </div>
      </div>
    </form>
    
</div>
</div>