<div id="container" (keydown) = "keyeventex($event)">
  <div class="row"></div>
  <div class="row">
    <div id="0" class="izquierdo" (click)="seleccionarIm0()" tabindex="1" (keydown) = "keyevent0($event)">
       <img [src]="imageSrc || '../../../assets/img/preview.png'" width="400" height="400" style="display: block; margin-left: auto; margin-right: auto;">
       <h3 id="op0" style="text-align: center; text-transform: lowercase; font-family: TW CEN MT">Texto asociado 1</h3>
    </div>
    <button (click)="funcionMostrar()" id="boton" ></button>
    <div id="derecho" class="derecho">
       <div id="1" class="dizquierdo" (click)="seleccionarIm1()" tabindex="2" (keydown) = "keyevent1($event)">
          <img [src]="imageSrc1 || '../../../assets/img/preview.png'" width="200" height="200" style="text-align: center" >
          <h5 id="op1"style="text-align: center; text-transform: lowercase; font-family: TW CEN MT">Texto asociado 2</h5>
       </div>
       <div style="display: inline-block;position: relative;">
        <canvas width="40" height="200"></canvas>
       </div>
       <div id="2" class="dderecho" (click)="seleccionarIm2()" tabindex="3" (keydown) = "keyevent2($event)">
          <img [src]="imageSrc2 || '../../../assets/img/preview.png'" width="200" height="200" style="text-align: center">
          <h5 id="op2"style="text-align: center; text-transform: lowercase; font-family: TW CEN MT">Texto asociado 3</h5>
       </div>
       <div id="derecho1" class="derecho1">
       <div id="3" class="dizquierdo1" (click)="seleccionarIm3()" tabindex="4" (keydown) = "keyevent3($event)">
          <img [src]="imageSrc3 || '../../../assets/img/preview.png'" width="200" height="200"style="text-align: center" >
          <h5 id="op3"style="text-align: center; text-transform: lowercase; font-family: TW CEN MT">Texto asociado 2</h5>
       </div>
       <div style="display: inline-block;position: relative;">
          <canvas width="40" height="200"></canvas>
         </div>
       <div id="4" class="dderecho1" (click)="seleccionarIm4()" tabindex="5" (keydown) = "keyevent4($event)">
          <img [src]="imageSrc4 || '../../../assets/img/preview.png'" width="200" height="200" style="text-align: center">
          <h5 id="op4"style="text-align: center; text-transform: lowercase; font-family: TW CEN MT">Texto asociado 3</h5>
       </div>
     </div>
 </div>
</div>
<div class="row">
  <button id="btn" class="waves-effect waves-light btn" style="float: right;" (click)="continuar()" tabindex="6">Continuar</button>
</div>
</div>
<div id="correcto" style="text-align: center">
  <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Correcto!</h2>  
</div>
<div id="mal" style="text-align: center">
  <img id="last1" src= "../../../assets/img/mal.png" height="300" width="300">
  <h2>Sigue intentandolo</h2>  
</div>
<div id="last" style="text-align: center">
  <img id="last" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Felicidades</h2>
</div>