#container {height: 100%; width:100%; font-size: 0;}
.izquierdo, .derecho {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
.izquierdo {width: 50%; height:100%; }
.derecho { display: none; width: 50%; height:100%; }
.dizquierdo{display: inline-block; position: relative;}
.dderecho{display: inline-block; position: relative;}
.dizquierdo1{display: inline-block; position: relative;}
.dderecho1{display: inline-block; position: relative;}
.dizquierdo2{display: inline-block; position: relative;}
.dderecho2{display: inline-block; position: relative;}
#boton {background: white;  width: 550px; height:550px; border:none;}