<div id="container">
  <div id="0" class="izquierdo" (click)="seleccionarIm0()">
     <img [src]="imageSrc" width="600" height="580" style="display: block; margin-left: auto; margin-right: auto;">
     <h3 id="op0" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 0</h3>
  </div>
  <button (click)="funcionMostrar()" id="boton" ></button>
  <div id="derecho" class="derecho">
     <div id="1" class="dizquierdo" (click)="seleccionarIm1()">
        <img [src]="imageSrc1" width="300" height="200" style="text-align: center" >
        <h5 id="op1" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 1</h5>
     </div>
     <div id="2" class="dderecho" (click)="seleccionarIm2()">
        <img [src]="imageSrc2"width="300" height="200"  style="text-align: center">
        <h5 id="op2" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 2</h5>
     </div>
     <div class="derecho1">
     <div id="3" class="dizquierdo1" (click)="seleccionarIm3()">
        <img [src]="imageSrc3" width="300" height="200" style="text-align: center" >
        <h5 id="op3" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 3</h5>
     </div>
     <div id="4" class="dderecho1" (click)="seleccionarIm4()">
        <img [src]="imageSrc4"width="300" height="200" style="text-align: center">
        <h5 id="op4" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 4</h5>
     </div>
     <div id="5" class="dizquierdo2" (click)="seleccionarIm5()">
        <img [src]="imageSrc5" width="300" height="200" style="text-align: center" >
        <h5 id="op5" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 5</h5>
     </div>
     <div id="6" class="dderecho2" (click)="seleccionarIm6()">
        <img [src]="imageSrc6"width="300" height="200" style="text-align: center">
        <h5 id="op6" style="text-align: center;  text-transform: lowercase; font-family: TW CEN MT">Texto asociado 6</h5>
     </div>
  </div>
</div>


<div class="row">
  <button id="btn" class="waves-effect waves-light btn" style="float: right;" (click)="continuar()">Continuar</button>
</div>
</div>
<div id="correcto" style="text-align: center">
  <img id="last1" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Correcto!</h2>  
</div>
<div id="mal" style="text-align: center">
  <img id="last1" src= "../../../assets/img/mal.png" height="300" width="300">
  <h2>Sigue intentandolo</h2>  
</div>
<div id="last" style="text-align: center">
  <img id="last" src= "../../../assets/img/correcto.png" height="300" width="300">
  <h2>Felicidades</h2>
</div>